* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  font-family: sans-serif;
}
.shop-wrapper {
  position: relative;
  width: 18.75rem;
  height: 37.5rem;
  overflow: hidden;
}

.container {
  position: relative;
  &.product-list {
    list-style: none;
  }
}
.product {
  position: absolute;
  cursor: grab;
}

.product.dragging {
  z-index: 3;
  user-select: none;
}
#shelves {
  width: 18.75rem;
  height: 37.5rem;
  background-image: url('./img/showcase.svg');
  background-size: 13.1875rem 26.9375rem;
  background-repeat: no-repeat;
  background-position: center 28px;
  border: 0.0625rem solid #000;
  border-radius: 15px;
  /* overflow: hidden; */

  & .product#wine {
    bottom: 74.5%;
    left: 20%;
  }
  & .product#milk {
    bottom: 74.5%;
    left: 35%;
  }
  & .product#jam {
    bottom: 74.5%;
    left: 50%;
  }
  & .product#chees {
    bottom: 74.5%;
    left: 68%;
  }
  & .product#meet {
    bottom: 58.5%;
    left: 19%;
  }
  & .product#chicken {
    bottom: 57%;
    left: 37%;
  }
  & .product#chips {
    bottom: 58%;
    left: 59%;
  }
  & .product#pineapple {
    bottom: 43%;
    left: 20%;
  }
  & .product#banana {
    bottom: 43%;
    left: 35%;
  }
  & .product#apple {
    bottom: 43%;
    left: 53%;
  }
  & .product#vegetable {
    bottom: 43%;
    left: 67%;
  }
}
.basket-wrapper {
  user-select: none;
  width: 17.25rem;
  height: 20.3125rem;
  position: absolute;
  bottom: -6.125rem;
  left: 50%;
  transform: translateX(-50%);
}
.basket-image {
  pointer-events: none;
  position: absolute;
  width: 100%;
  width: 17.25rem;
  height: 20.3125rem;
  z-index: 3;
}
#basket {
  width: 100%;
  height: 100%;

  & .product {
    position: absolute;
    transform: scale(1.3);
    pointer-events: none;
  }
  & .product#wine {
    bottom: 50%;
    left: 76%;
  }
  & .product#milk {
    bottom: 50%;
    left: 26%;
  }
  & .product#jam {
    bottom: 50%;
    left: 40%;
  }
  & .product#chees {
    bottom: 70%;
    left: 45%;
  }
  & .product#meet {
    bottom: 60%;
    left: 57%;
  }
  & .product#chicken {
    bottom: 45%;
    left: 51%;
  }
  & .product#chips {
    bottom: 60%;
    left: 37%;
  }
  & .product#pineapple {
    bottom: 50%;
    left: 51%;
  }
  & .product#banana {
    bottom: 50%;
    left: 31%;
  }
  & .product#apple {
    bottom: 68%;
    left: 34%;
  }
  & .product#vegetable {
    bottom: 72%;
    left: 53%;
  }
}

.btn-pay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  width: 174px;
  height: 56px;
  font-size: 1rem;
  line-height: 17px;
  font-weight: bold;
  color: #21201f;
  text-decoration: none;
  background-color: #fce000;
  border-radius: 16px;
}

.btn-pay.active {
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
